.box-upload {
    background: rgba(229, 247, 237, .1);
    border: 2px dashed #00b14f;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-top: 32px;
    position: relative;
    text-align: center;
    transition: .4s;
    height: 300px;
}

.icon {
    margin-bottom: 24px;
    margin-top: 90px
}

.file-upload-cv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.text-breadcrumbs {
    color: #656b78;
}

.file-format {
    display: flex;
    justify-content: space-between
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 70%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}

.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

.btn-search {
    background: #ccc;
}

.alert-danger {
    color: #ea2b33 !important;
    font-size: 15px !important;
}

.conten {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background: rgb(248, 245, 245);
}


.conten1 {
    margin-left: 10%;
    /* width: 60%; */
    float: right;
    border-radius: 5px;

}

section {
    padding: 0px 0px 0px 0px !important;
    margin-left: 10%;
}

aside {
    width: 65% !important;
}

.text-create {
    float: right;
}

/* .btn{
    border-radius:30%;
} */

.conten1 img {
    padding: 5px 0px 10px 10px;
    border-radius: 50%;
    height: 130px;
    width: 130px;

}

.vip {

    width: 201px !important;
    color: white !important;
}

.job-fit {
    height: 500px;
    border: 1px solid red;
}

.box-group {
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px 6px rgb(0 0 0 / 5%);
    margin-bottom: 16px;
    padding: 16px;
}

.box-group-header {
    padding: initial;
}

.box-group-title {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    padding: initial;
}

.text-highlight {
    color: #00b14f;
}